@font-face {
  font-family: 'iconfont'; /* Project id 4385919 */
  src:
    url('/fonts/iconfont.woff2?t=1703383871974') format('woff2'),
    url('/fonts/iconfont.woff?t=1703383871974') format('woff'),
    url('/fonts/iconfont.ttf?t=1703383871974') format('truetype');
}

.iconfont {
  font-family: 'iconfont';
  line-height: 1;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
  content: '\e88f';
}
